@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(head) {
  from { -webkit-transform: rotate(0); }
  50% { -webkit-transform: rotate(8deg); }
  to { -webkit-transform: rotate(0); }
}

.rotate-head {
  @include transform-origin(50%, 60%);
  -webkit-animation: head .7s ease-in-out 3 alternate;
   -moz-animation:   head .7s ease-in-out 3 alternate;
   animation:        head .7s ease-in-out 3 alternate;
}

@include keyframes(tail) {
  from { -webkit-transform: rotate(0); }
  50% { -webkit-transform: rotate(-20deg); }
  to { -webkit-transform: rotate(0); }
}

.rotate-tail {
  @include transform-origin(50%, 100%);
  -webkit-animation: tail .7s ease-in-out 3 alternate;
}

@include keyframes(left-arm) {
  from { -webkit-transform: rotate(0); }
  50% { -webkit-transform: rotate(-50deg); }
  to { -webkit-transform: rotate(0); }
}

.rotate-left-arm {
  @include transform-origin(100%, 0);
  -webkit-animation: left-arm .7s ease-in-out 3 alternate;
}

@include keyframes(right-arm) {
  from { -webkit-transform: rotate(0); }
  50% { -webkit-transform: rotate(15deg); }
  to { -webkit-transform: rotate(0); }
}

.rotate-right-arm {
  @include transform-origin(100%, 0);
  -webkit-animation: right-arm .7s ease-in-out 3 alternate;
}

@include keyframes(right-foot) {
  from { -webkit-transform: rotate(0); }
  50% { -webkit-transform: rotate(15deg); }
  to { -webkit-transform: rotate(0); }
}

.rotate-right-foot {
  @include transform-origin(50%, 50%);
  -webkit-animation: right-foot .7s ease-in-out 3 alternate;
}

.body-part {
  position: absolute;
  transition-property: background;
}

@media all and (max-width: 699px) {
  .rotate-head {
    @include transform-origin(25%, 30%);
  }
  .rotate-tail {
    @include transform-origin(25%, 50%);
  }
  .rotate-left-arm {
    @include transform-origin(50%, 0);
  }
  .rotate-right-arm {
    @include transform-origin(50%, 0);
  }
  .rotate-right-foot {
    @include transform-origin(25%, 25%);
  }
}
