/* Vendor Dependencies */
/* line 17, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Authored Dependencies */
@-webkit-keyframes head {
  /* line 17, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 23, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg); }

  /* line 30, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@-moz-keyframes head {
  /* line 17, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 23, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg); }

  /* line 30, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@-ms-keyframes head {
  /* line 17, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 23, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg); }

  /* line 30, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@keyframes head {
  /* line 17, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 23, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg); }

  /* line 30, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

/* line 38, ../sass/_transforms.scss */
.rotate-head {
  -webkit-transform-origin: 50% 60%;
  -moz-transform-origin: 50% 60%;
  -ms-transform-origin: 50% 60%;
  -o-transform-origin: 50% 60%;
  transform-origin: 50% 60%;
  -webkit-animation: head .7s ease-in-out 3 alternate;
  -moz-animation: head .7s ease-in-out 3 alternate;
  animation: head .7s ease-in-out 3 alternate; }

@-webkit-keyframes tail {
  /* line 46, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 52, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 59, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@-moz-keyframes tail {
  /* line 46, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 52, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 59, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@-ms-keyframes tail {
  /* line 46, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 52, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 59, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@keyframes tail {
  /* line 46, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 52, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 59, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

/* line 68, ../sass/_transforms.scss */
.rotate-tail {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: tail .7s ease-in-out 3 alternate;
  -moz-animation: tail .7s ease-in-out 3 alternate;
  animation: tail .7s ease-in-out 3 alternate; }

@-webkit-keyframes left-arm {
  /* line 76, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 82, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); }

  /* line 89, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@-moz-keyframes left-arm {
  /* line 76, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 82, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); }

  /* line 89, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@-ms-keyframes left-arm {
  /* line 76, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 82, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); }

  /* line 89, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@keyframes left-arm {
  /* line 76, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 82, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); }

  /* line 89, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

/* line 98, ../sass/_transforms.scss */
.rotate-left-arm {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-animation: left-arm .7s ease-in-out 3 alternate;
  -moz-animation: left-arm .7s ease-in-out 3 alternate;
  animation: left-arm .7s ease-in-out 3 alternate; }

@-webkit-keyframes right-arm {
  /* line 106, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 112, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }

  /* line 119, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@-moz-keyframes right-arm {
  /* line 106, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 112, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }

  /* line 119, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@-ms-keyframes right-arm {
  /* line 106, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 112, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }

  /* line 119, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@keyframes right-arm {
  /* line 106, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 112, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }

  /* line 119, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

/* line 128, ../sass/_transforms.scss */
.rotate-right-arm {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-animation: right-arm .7s ease-in-out 3 alternate;
  -moz-animation: right-arm .7s ease-in-out 3 alternate;
  animation: right-arm .7s ease-in-out 3 alternate; }

@-webkit-keyframes right-foot {
  /* line 136, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 142, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }

  /* line 149, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@-moz-keyframes right-foot {
  /* line 136, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 142, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }

  /* line 149, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@-ms-keyframes right-foot {
  /* line 136, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 142, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }

  /* line 149, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

@keyframes right-foot {
  /* line 136, ../sass/_transforms.scss */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 142, ../sass/_transforms.scss */
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }

  /* line 149, ../sass/_transforms.scss */
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); } }

/* line 158, ../sass/_transforms.scss */
.rotate-right-foot {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: right-foot .7s ease-in-out 3 alternate;
  -moz-animation: right-foot .7s ease-in-out 3 alternate;
  animation: right-foot .7s ease-in-out 3 alternate; }

/* line 165, ../sass/_transforms.scss */
.body-part {
  position: absolute;
  transition-property: background; }

@media all and (max-width: 699px) {
  /* line 171, ../sass/_transforms.scss */
  .rotate-head {
    -webkit-transform-origin: 25% 30%;
    -moz-transform-origin: 25% 30%;
    -ms-transform-origin: 25% 30%;
    -o-transform-origin: 25% 30%;
    transform-origin: 25% 30%; }

  /* line 174, ../sass/_transforms.scss */
  .rotate-tail {
    -webkit-transform-origin: 25% 50%;
    -moz-transform-origin: 25% 50%;
    -ms-transform-origin: 25% 50%;
    -o-transform-origin: 25% 50%;
    transform-origin: 25% 50%; }

  /* line 177, ../sass/_transforms.scss */
  .rotate-left-arm {
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0; }

  /* line 180, ../sass/_transforms.scss */
  .rotate-right-arm {
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0; }

  /* line 183, ../sass/_transforms.scss */
  .rotate-right-foot {
    -webkit-transform-origin: 25% 25%;
    -moz-transform-origin: 25% 25%;
    -ms-transform-origin: 25% 25%;
    -o-transform-origin: 25% 25%;
    transform-origin: 25% 25%; } }
/* Patterns */
/* line 1, ../sass/_containers.scss */
body {
  background: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 800; }

/* line 6, ../sass/_containers.scss */
.container {
  margin: 0 auto;
  width: 50%; }

/* line 10, ../sass/_containers.scss */
.container-index {
  padding-top: 100px; }

/* line 13, ../sass/_containers.scss */
.title {
  color: #3c3934;
  display: block;
  font-size: 6em;
  text-align: center;
  position: relative;
  top: 400px; }

/* line 21, ../sass/_containers.scss */
.copyright {
  color: #3c3934;
  display: block;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  position: relative;
  top: 410px; }
  /* line 29, ../sass/_containers.scss */
  .copyright a {
    color: #3c3934; }
    /* line 31, ../sass/_containers.scss */
    .copyright a:hover {
      color: #d66694; }

/* line 36, ../sass/_containers.scss */
.owl-rat {
  height: 605px;
  width: 431px;
  position: relative;
  top: 370px;
  left: 50%;
  margin-top: -350px;
  margin-left: -215px; }

/* line 45, ../sass/_containers.scss */
.play-icons {
  background: url("../images/play-icons.png") 100% 100% no-repeat;
  font: 0/0 a;
  height: 59px;
  margin: 40px auto 0 auto;
  width: 59px; }
  /* line 51, ../sass/_containers.scss */
  .play-icons:hover {
    background: url("../images/play-icons.png") 0 0 no-repeat; }

/* line 55, ../sass/_containers.scss */
.highlight {
  color: #ebcd2a; }

/* line 58, ../sass/_containers.scss */
.lowlight {
  color: #d66694; }

@media all and (max-width: 699px) {
  /* line 63, ../sass/_containers.scss */
  .owl-rat {
    height: 303px;
    width: 216px;
    position: relative;
    top: 200px;
    left: 50%;
    margin-top: -175px;
    margin-left: -107px; }

  /* line 72, ../sass/_containers.scss */
  .title {
    font-size: 3em;
    top: 230px; }

  /* line 76, ../sass/_containers.scss */
  .copyright {
    top: 240px; } }
/* line 1, ../sass/_body-parts.scss */
.head {
  background: url("../images/owl-rat-head.png") 0 100% no-repeat;
  height: 246px;
  left: 43px;
  top: 0;
  width: 205px;
  z-index: 5; }

/* line 10, ../sass/_body-parts.scss */
.body {
  background: url("../images/owl-rat-body.png") 0 0 no-repeat;
  height: 422px;
  left: 67px;
  position: absolute;
  top: 157px;
  width: 364px;
  z-index: 3; }

/* line 20, ../sass/_body-parts.scss */
.tail {
  background: url("../images/owl-rat-tail.png") 0 0 no-repeat;
  height: 97px;
  left: 327px;
  top: 73px;
  width: 52px;
  z-index: 3; }

/* line 29, ../sass/_body-parts.scss */
.left-arm {
  background: url("../images/owl-rat-left-arm.png") 0 0 no-repeat;
  height: 195px;
  left: 133px;
  top: 190px;
  width: 103px;
  z-index: 3; }

/* line 38, ../sass/_body-parts.scss */
.right-arm {
  background: url("../images/owl-rat-right-arm.png") 0 0 no-repeat;
  height: 170px;
  left: 0;
  top: 196px;
  width: 112px;
  z-index: 3; }

/* line 47, ../sass/_body-parts.scss */
.left-foot {
  background: url("../images/owl-rat-left-foot.png") 0 0 no-repeat;
  height: 154px;
  left: 142px;
  position: absolute;
  top: 450px;
  width: 138px;
  z-index: 2; }

/* line 57, ../sass/_body-parts.scss */
.right-foot {
  background: url("../images/owl-rat-right-foot.png") 0 0 no-repeat;
  height: 153px;
  left: 40px;
  top: 440px;
  width: 150px;
  z-index: 4; }

@media all and (max-width: 699px) {
  /* line 67, ../sass/_body-parts.scss */
  .head {
    background: url("../images/small-owl-rat-head.png") 0 0 no-repeat;
    left: 21px; }

  /* line 71, ../sass/_body-parts.scss */
  .body {
    background: url("../images/small-owl-rat-body.png") 0 0 no-repeat;
    left: 33px;
    top: 78px; }

  /* line 76, ../sass/_body-parts.scss */
  .tail {
    background: url("../images/small-owl-rat-tail.png") 0 0 no-repeat;
    left: 163px;
    top: 36px; }

  /* line 81, ../sass/_body-parts.scss */
  .left-arm {
    background: url("../images/small-owl-rat-left-arm.png") 0 0 no-repeat;
    left: 66px;
    top: 95px; }

  /* line 86, ../sass/_body-parts.scss */
  .right-arm {
    background: url("../images/small-owl-rat-right-arm.png") 0 0 no-repeat;
    top: 98px;
    width: 56px; }

  /* line 91, ../sass/_body-parts.scss */
  .left-foot {
    background: url("../images/small-owl-rat-left-foot.png") 0 0 no-repeat;
    left: 71px;
    top: 225px; }

  /* line 96, ../sass/_body-parts.scss */
  .right-foot {
    background: url("../images/small-owl-rat-right-foot.png") 0 0 no-repeat;
    left: 20px;
    top: 220px; } }
/* Sections */
