.group:after {
  content: "";
  display: table;
  clear: both;
}

.container {
	margin: auto;
	position: relative;
	width: 1400px;
}

.container-index {
	padding-top: 100px;
}

.owl-rat {
	left: -70px;
	position: absolute;
}

.body-part {
	position: absolute;
	transition-property: background;
	  transition-duration: .6s;
	  transition-timing-function: linear, ease-in;
}

.owl,
.rat,
.sign {
	display: block;
	float: left;
} 

a {
	color: black;
	text-decoration: none;
}

.sign {
	font-size: 200px;
	font-weight: bold;
	margin: 0;
}


.rat {
	background: url("../images/rat.jpg") 0 0 no-repeat;
	height: 400px;	
	width: 594px;
	z-index: 5;
}

.owl {
	background: url("../images/owl.png") 0 0 no-repeat;
	height: 292px;
	width: 500px;
	z-index: 5;
}

.head {
	background: url("../images/owl-rat-head.png") 0 0 no-repeat;
	height: 246px;
	left: 577px;
	top: 100px;
	width: 205px;
	z-index: 5;
}

.body {
	background: url("../images/owl-rat-body.png") 0 0 no-repeat;
	height: 422px;
	left: 588px;
	top: 257px;
	width: 364px;
	z-index: 3;
}

.tail {
	background: url("../images/owl-rat-tail.png") 0 0 no-repeat;
	height: 97px;
	left: 851px;
	top: 173px;
	width: 52px;
	z-index: 3;
}

.left-arm {
	background: url("../images/owl-rat-left-arm.png") 0 0 no-repeat;
	height: 195px;
	left: 655px;
	top: 313px;
	width: 103px;
	z-index: 3;
}

.right-arm {
	background: url("../images/owl-rat-right-arm.png") 0 0 no-repeat;
	height: 170px;
	left: 522px;
	top: 292px;
	width: 112px;
	z-index: 3;
}

.left-foot {
	background: url("../images/owl-rat-left-foot.png") 0 0 no-repeat;
	height: 154px;
	left: 658px;
	top: 545px;
	width: 138px;
	z-index: 2;
}

.right-foot {
	background: url("../images/owl-rat-right-foot.png") 0 0 no-repeat;
	height: 153px;
	left: 552px;
	top: 519px;
	width: 150px;
	z-index: 4;
}

.head:hover {
	-webkit-transform: rotate(-8deg);
	   -moz-transform: rotate(-8deg);
	     -o-transform: rotate(-8deg);
	        transform: rotate(-8deg);

	-webkit-transform-origin: 50% 100%;
	   -moz-transform-origin: 50% 100%;
	     -o-transform-origin: 50% 100%;
	        transform-origin: 50% 100%;
}

.tail:hover {
	-webkit-transform: rotate(-20deg);
	   -moz-transform: rotate(-20deg);
	     -o-transform: rotate(-20deg);
	        transform: rotate(-20deg);

	-webkit-transform-origin: 50% 100%;
	   -moz-transform-origin: 50% 100%;
	     -o-transform-origin: 50% 100%;
	        transform-origin: 50% 100%;
}

.left-arm:hover {
	-webkit-transform: rotate(-60deg);
	   -moz-transform: rotate(-60deg);
	     -o-transform: rotate(-60deg);
	        transform: rotate(-60deg);

	-webkit-transform-origin: 100% 0;
	   -moz-transform-origin: 100% 0;
	     -o-transform-origin: 100% 0;
	        transform-origin: 100% 0;
}

.right-arm:hover {
	-webkit-transform: rotate(15deg);
	   -moz-transform: rotate(15deg);
	     -o-transform: rotate(15deg);
	        transform: rotate(15deg);

	-webkit-transform-origin: 100% 0;
	   -moz-transform-origin: 100% 0;
	     -o-transform-origin: 100% 0;
	        transform-origin: 100% 0;
}

.left-foot:hover {
	-webkit-transform: rotate(5deg);
	   -moz-transform: rotate(5deg);
	     -o-transform: rotate(5deg);
	        transform: rotate(5deg);

	-webkit-transform-origin: 50% 0%;
	   -moz-transform-origin: 50% 0%;
	     -o-transform-origin: 50% 0%;
	        transform-origin: 50% 0%;
}

.right-foot:hover {
	-webkit-transform: rotate(15deg);
	   -moz-transform: rotate(15deg);
	     -o-transform: rotate(15deg);
	        transform: rotate(15deg);

	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
	     -o-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}















